name: Build ZMK firmware
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  release:
    types:
      - created

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
